<section id="about" class="about">
    <div class="about-content">
      <div class="about-image" data-aos="fade-right">
        <img src="../assets/images/pic.jpg" alt="Profile Image">
      </div>
      <div class="about-text" data-aos="fade-left">
        <h2>About Me</h2>
        <p>I'm a passionate developer with experience in HTML, CSS, JavaScript, React, and Node.js. I specialize in building responsive, interactive, and scalable web applications. I'm a quick learner and constantly looking for new challenges to expand my knowledge and skills in web development.</p>
        <ul class="skills-list btn">
          <li>HTML5 & CSS3</li>
          <li>JavaScript (ES6+)</li>
          <li>React </li>
          <li>Express</li>
          <li>Next js</li>
          <li>Angular 18</li>
          <li>Node.js </li>
          <li>MongoDB</li>
          <li>Responsive Web Design</li>
        </ul>
        <div class="about-buttons">
          <a href="your-resume.pdf" class="btn " download>Download Resume</a>
          <a href="#contact" class="btn ms-2">Contact Me</a>
        </div>
        <div class="social-icons">
          <a href="https://linkedin.com/your-profile" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/your-profile" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/your-profile" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </section>
  