<section id="home" class="home">
    <div class="content">
      <h1>Welcome to My Portfolio</h1>
      <p>I am a <span class="iam">MERN Stack Developer</span></p>
      <p id="summaryText">Hi, I'm Muhammad Zain! I specialize in building dynamic and responsive web applications. Let's create something amazing together!</p>
  
      <div>
        <a routerLink="/projects" class="btn mt-3">See My Work</a>
        <a routerLink="/hire" class="btn mx-3 mt-3">Hire Me</a>
        <a routerLink="/download-cv" class="btn mt-3">Download CV</a>
      </div>
    </div>
    <img class="hero-image mt-5" src="../assets/images/pic.jpg" alt="man" />
  </section>
  